# Disable directory browsing
Options -Indexes

# Follow symbolic links
Options +FollowSymLinks

# Enable mod_rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base directory for rewrite rules
    RewriteBase /crm/

    # Redirect trailing slashes if not a folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Rewrite "eriteach.com/crm/foo" to "eriteach.com/crm/index.php/foo"
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Ensure Authorization header is passed along
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

# Disable server signature
ServerSignature Off

# Set default charset
AddDefaultCharset UTF-8

# Protect sensitive files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Protect configuration files
<FilesMatch "(?i:^\.(htaccess|htpasswd)|^(.*)\.(bak|config|sql|fla|psd|log|sh)|^composer\.(json|lock)|^package(-lock)?\.json|^yarn\.lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>
